<?xml version="1.0" encoding="UTF-8"?>
<VanDyke version="3.0">
	<key name="Security">
		<string name="Passphrase">02:69ed0d0044bfb68ab8e3b851eeb862e99806502e56eb5d9295733b1fbe04e6938a8a00e96b0728c5c57471ee5f8d0868</string>
	</key>
	<key name="Global">
		<dword name="ALT+N Switches To Nth Tab">1</dword>
		<array name="ANSI Color Palettes">
			<string>Standard,00000000,A0000000,00A00000,A0A00000,0000A000,A000A000,00A0A000,C0C0C000,80808000,FF000000,00FF0000,FFFF0000,0000FF00,FF00FF00,00FFFF00,FFFFFF00</string>
			<string>Birds of Paradise,573D2600,BE2D2600,6BA18A00,E99D2A00,5A86AD00,AC80A600,74A6AD00,E0DBB700,9B6C4A00,E8462700,95D8BA00,D0D15000,B8D3ED00,D19ECB00,93CFD700,FFF9D500</string>
			<string>Chalkboard,00000000,C3737200,72C37300,C2C37200,7372C300,C372C200,72C2C300,D9D9D900,32323200,DBAAAA00,AADBAA00,DADBAA00,AAAADB00,DBAADA00,AADADB00,FFFFFF00</string>
			<string>Ciapre,18181800,81000900,48513B00,CC8B3F00,576D8C00,724D7C00,5C4F4B00,AEA47F00,55555500,AC383500,A6A75D00,DCDF7C00,3097C600,D3306100,F3DBB200,F4F4F400</string>
			<string>Dark Pastel,00000000,FF555500,55FF5500,FFFF5500,5555FF00,FF55FF00,55FFFF00,BBBBBB00,55555500,FF555500,55FF5500,FFFF5500,5555FF00,FF55FF00,55FFFF00,FFFFFF00</string>
			<string>Desert,4D4D4D00,FF2B2B00,98FB9800,F0E68C00,CD853F00,FFDEAD00,FFA0A000,F5DEB300,55555500,FF555500,55FF5500,FFFF5500,87CEFF00,FF55FF00,FFD70000,FFFFFF00</string>
			<string>Espresso,35353500,D2525200,A5C26100,FFC66D00,6C99BB00,D197D900,BED6FF00,EEEEEC00,53535300,F00C0C00,C2E07500,E1E48B00,8AB7D900,EFB5F700,DCF4FF00,FFFFFF00</string>
			<string>Idletoes,32323200,D2525200,7FE17300,FFC66D00,4099FF00,F680FF00,BED6FF00,EEEEEC00,53535300,F0707000,9DFF9100,FFE48B00,5EB7F700,FF9DFF00,DCF4FF00,FFFFFF00</string>
			<string>Invisibone,30303000,D370A300,6D9E3F00,B5885800,6095C500,AC7BDE00,3BA27500,CFCFCF00,68686800,FFA7DA00,A3D57200,EFBD8B00,98CBFE00,E5B0FF00,75DAA900,FFFFFF00</string>
			<string>Novel,00000000,CC000000,00960000,D06B0000,0000CC00,CC00CC00,0087CC00,CCCCCC00,80808000,CC000000,00960000,D06B0000,0000CC00,CC00CC00,0087CC00,FFFFFF00</string>
			<string>Solarized Dark,07364200,DC322F00,85990000,B5890000,268BD200,D3368200,2AA19800,EEE8D500,002B3800,CB4B1600,586E7500,657B8300,83949600,6C71C400,93A1A100,FDF6E300</string>
			<string>Solarized Darcula,25292A00,F2484000,62965500,B6880000,2075C700,797FD400,15968D00,D2D8D900,25292A00,F2484000,62965500,B6880000,2075C700,797FD400,15968D00,D2D8D900</string>
			<string>Solarized Light,07364200,DC322F00,85990000,B5890000,268BD200,D3368200,2AA19800,EEE8D500,002B3800,CB4B1600,586E7500,657B8300,83949600,6C71C400,93A1A100,FDF6E300</string>
			<string>Tomorrow,8E908C00,FF333400,9EC40000,EAB70000,5795E600,B777E000,54CED600,EFEFEF00,00000000,C8282900,718C0000,F5871F00,4271AE00,8959A800,3E999F00,D6D6D600</string>
			<string>Zenburn,4D4D4D00,70505000,60B48A00,F0DFAF00,50607000,DC8CC300,8CD0D300,DCDCCC00,70908000,DCA3A300,C3BF9F00,E0CF9F00,94BFF300,EC93D300,93E0E300,FFFFFF00</string>
		</array>
		<binary name="ANSI Color RGB">00 00 00 00 a0 00 00 00 00 a0 00 00 a0 a0 00 00 00 00 a0 00 a0 00 a0 00 00 a0 a0 00 c0 c0 c0 00 80 80 80 00 ff 00 00 00 00 ff 00 00 ff ff 00 00 00 00 ff 00 ff 00 ff 00 00 ff ff 00 ff ff ff 00</binary>
		<string name="Activator Agent Keys ListView State">1,1,1,0,0</string>
		<dword name="Active Window Alpha Transparency">255</dword>
		<dword name="Allow Proportional Fonts">0</dword>
		<dword name="Alpha Transparency">1</dword>
		<dword name="Alt Selects Menu">1</dword>
		<dword name="Always Prompt For Auth Info">0</dword>
		<string name="Anonymous Password"/>
		<dword name="Append Number When Connecting Same Session">1</dword>
		<string name="Audio Bell Sound File"/>
		<dword name="Auto Reconnect">0</dword>
		<dword name="Auto Reconnect Interval">5</dword>
		<dword name="Auto Save Options">1</dword>
		<string name="Auto Session Name"/>
		<dword name="Background Connected Color">11206570</dword>
		<dword name="Background Disconnected Color">11184895</dword>
		<dword name="Background Inactivity Color">10551295</dword>
		<dword name="Background Locked Color">11184810</dword>
		<dword name="Background New Input Color">16763020</dword>
		<dword name="Background Script Color">16759260</dword>
		<dword name="Bandwidth Limit">0</dword>
		<dword name="Basepoint Enable Log">1</dword>
		<string name="Basepoint Log Directory">/tmp</string>
		<binary name="Basepoint Server Status Dialog Size">2c 00 00 00 00 00 00 00 01 00 00 00 00 00 00 00 00 00 00 00 fc ff ff ff fc ff ff ff 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00</binary>
		<dword name="Buffer Pass Through Printing">0</dword>
		<dword name="Button Bar Location">0</dword>
		<dword name="CRT Never Check For Updates">0</dword>
		<dword name="CRT XML File Fixed">0</dword>
		<string name="Cache Directory V2"/>
		<string name="Certificate Path V2"/>
		<dword name="Change Config Passphrase">0</dword>
		<dword name="Chat Window Height">4294967295</dword>
		<dword name="Check Shell Telnet Command">1</dword>
		<dword name="Clip On Resize">0</dword>
		<string name="Clipboard Data Format"/>
		<dword name="Close Button On Tabs">1</dword>
		<dword name="Close on Disconnect">0</dword>
		<array name="Color Schemes">
			<string>Birds of Paradise,010101,E0DBB700,E0DBB700,E0DBB700,E0DBB700,E0DBB700,E0DBB700,E0DBB700,E0DBB700,2A1F1D00,2A1F1D00,2A1F1D00,2A1F1D00,2A1F1D00,2A1F1D00,2A1F1D00,2A1F1D00,Birds of Paradise</string>
			<string>Black / Cyan,010101,00000000,0000FF00,00000000,0000FF00,00000000,0000FF00,00000000,0000FF00,00FFFF00,00FFFF00,00FFFF00,00FFFF00,00FFFF00,00FFFF00,00FFFF00,00FFFF00,Standard</string>
			<string>Black / Floral White,010101,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,FFFBF000,FFFBF000,FFFBF000,FFFBF000,FFFBF000,FFFBF000,FFFBF000,FFFBF000,Standard</string>
			<string>Chalkboard,010101,D9E6F200,D9E6F200,D9E6F200,D9E6F200,D9E6F200,D9E6F200,D9E6F200,D9E6F200,29262F00,29262F00,29262F00,29262F00,29262F00,29262F00,29262F00,29262F00,Chalkboard</string>
			<string>Ciapre,010101,AEA47A00,AEA47A00,AEA47A00,AEA47A00,AEA47A00,AEA47A00,AEA47A00,AEA47A00,191C2700,191C2700,191C2700,191C2700,191C2700,191C2700,191C2700,191C2700,Ciapre</string>
			<string>Dark Pastel,010101,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,Dark Pastel</string>
			<string>Desert,010101,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,33333300,33333300,33333300,33333300,33333300,33333300,33333300,33333300,Desert</string>
			<string>Espresso,010101,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,32323200,32323200,32323200,32323200,32323200,32323200,32323200,32323200,Espresso</string>
			<string>Floral White / Dark Cyan,010101,FFFBF000,FFFBF000,FFFBF000,FFFBF000,FFFBF000,FFFBF000,FFFBF000,FFFBF000,00808000,00808000,00808000,00808000,00808000,00808000,00808000,00808000,Standard</string>
			<string>Idletoes,010101,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,32323200,32323200,32323200,32323200,32323200,32323200,32323200,32323200,Idletoes</string>
			<string>Invisibone,010101,A0A0A000,A0A0A000,A0A0A000,A0A0A000,A0A0A000,A0A0A000,A0A0A000,A0A0A000,23232300,23232300,23232300,23232300,23232300,23232300,23232300,23232300,Invisibone</string>
			<string>Monochrome,010101,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,Standard</string>
			<string>Novel,010101,3B232200,3B232200,3B232200,3B232200,3B232200,3B232200,3B232200,3B232200,DFDBC300,DFDBC300,DFDBC300,DFDBC300,DFDBC300,DFDBC300,DFDBC300,DFDBC300,Novel</string>
			<string>Solarized Darcula,010101,D2D8D900,D2D8D900,D2D8D900,D2D8D900,D2D8D900,D2D8D900,D2D8D900,D2D8D900,3D3F4100,3D3F4100,3D3F4100,3D3F4100,3D3F4100,3D3F4100,3D3F4100,3D3F4100,Solarized Darcula</string>
			<string>Solarized Dark,010101,83949600,83949600,83949600,83949600,83949600,83949600,83949600,83949600,002B3600,002B3600,002B3600,002B3600,002B3600,002B3600,002B3600,002B3600,Solarized Dark</string>
			<string>Solarized Light,010101,657B8300,657B8300,657B8300,657B8300,657B8300,657B8300,657B8300,657B8300,FDF6E300,FDF6E300,FDF6E300,FDF6E300,FDF6E300,FDF6E300,FDF6E300,FDF6E300,Solarized Light</string>
			<string>Tomorrow,010101,4D4D4C00,4D4D4C00,4D4D4C00,4D4D4C00,4D4D4C00,4D4D4C00,4D4D4C00,4D4D4C00,FAFAFA00,FAFAFA00,FAFAFA00,FAFAFA00,FAFAFA00,FAFAFA00,FAFAFA00,FAFAFA00,Tomorrow</string>
			<string>Traditional,010101,00FF0000,00FF0000,00FF0000,00FF0000,00FF0000,00FF0000,00FF0000,00FF0000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,Standard</string>
			<string>White / Black,010101,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,Standard</string>
			<string>White / Blue,010101,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,FFFFFF00,0000FF00,0000FF00,0000FF00,0000FF00,0000FF00,0000FF00,0000FF00,0000FF00,Standard</string>
			<string>Yellow / Black,010101,FFFF0000,FFFF0000,FFFF0000,FFFF0000,FFFF0000,FFFF0000,FFFF0000,FFFF0000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,Standard</string>
			<string>Zenburn,010101,DCDCCC00,DCDCCC00,DCDCCC00,DCDCCC00,DCDCCC00,DCDCCC00,DCDCCC00,DCDCCC00,3F3F3F00,3F3F3F00,3F3F3F00,3F3F3F00,3F3F3F00,3F3F3F00,3F3F3F00,3F3F3F00,Zenburn</string>
		</array>
		<string name="Command Manager Expand Path"/>
		<dword name="Command Manager Selected Is Expanded">1</dword>
		<string name="Command Manager Window State V2">2,0,0,0,0,0,0,0,0,0,0,1</string>
		<string name="Config Passphrase">02:69ed0d0044bfb68ab8e3b851eeb862e99806502e56eb5d9295733b1fbe04e6938a8a00e96b0728c5c57471ee5f8d0868</string>
		<dword name="Confirm Close Multiple Tabs">0</dword>
		<binary name="Confirm Multi-Line Paste Dialog Size">00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 4e 01 00 00 98 00 00 00 f7 03 00 00 0d 02 00 00</binary>
		<dword name="Connect Dialog Sort Order">0</dword>
		<string name="Connect Expand Path"/>
		<string name="Connect Sound File V2"/>
		<dword name="Connected Color">2672680</dword>
		<dword name="Copy On Select">0</dword>
		<dword name="Create Core Files">0</dword>
		<string name="Current ANSI Palette">Standard</string>
		<binary name="Custom Colors">ff ff ff 00 ff ff ff 00 ff ff ff 00 ff ff ff 00 ff ff ff 00 ff ff ff 00 ff ff ff 00 ff ff ff 00 ff ff ff 00 ff ff ff 00 ff ff ff 00 ff ff ff 00 ff ff ff 00 ff ff ff 00 ff ff ff 00 ff ff ff 00</binary>
		<dword name="Dark Theme Highlight Color">29928</dword>
		<dword name="Data Connection Type">2</dword>
		<string name="Default Download Directory V2"/>
		<string name="Directory Permissions"/>
		<dword name="Disable Aero Peek">0</dword>
		<dword name="Disable All Printing">1</dword>
		<dword name="Disable Close">0</dword>
		<dword name="Disable Directory Tree Detection">0</dword>
		<dword name="Disable Pass Through Printing">0</dword>
		<dword name="Disable Resize">0</dword>
		<dword name="Disable Server To Server Transfers">0</dword>
		<dword name="Disconnect After Resume Timeout">0</dword>
		<string name="Disconnect Sound File V2"/>
		<dword name="Disconnected Color">255</dword>
		<dword name="Display Attributes Column">0</dword>
		<dword name="Display Explorer Filenames">0</dword>
		<dword name="Display Folder Tree">1</dword>
		<dword name="Display Local Time for Remote Files">0</dword>
		<dword name="Display Log">1</dword>
		<dword name="Display Seconds">0</dword>
		<dword name="Double Click Action">0</dword>
		<string name="Download Directory V2"/>
		<dword name="Eject Page Interval">0</dword>
		<dword name="Enable Font Smoothing">1</dword>
		<dword name="Enable Log File">0</dword>
		<dword name="Enable MacOS Dark Mode Support">1</dword>
		<dword name="Enable Print Screen Key">0</dword>
		<dword name="Enable Tab Switching History">0</dword>
		<string name="Enabled TLS Versions">1.0=1,1.1=1,1.2=1,1.3=1</string>
		<string name="Error Sound File V2"/>
		<dword name="Execute Escape Sequence">0</dword>
		<dword name="Exit When Last Session Is Disconnected">0</dword>
		<dword name="FTP Enable Port Range">0</dword>
		<dword name="FTP Port Range Maximum">65535</dword>
		<dword name="FTP Port Range Minimum">1025</dword>
		<string name="File Permissions"/>
		<dword name="Find Wraps After Last Instance">1</dword>
		<dword name="Focus Does Not Affect Blink">0</dword>
		<dword name="Force Black On White">0</dword>
		<string name="Global Options Tree Selected">Global+</string>
		<string name="Global Options Tree State">1001000100</string>
		<string name="HTTP Browser Application V2"/>
		<dword name="HTTP Use DDE">0</dword>
		<dword name="HTTP Use Registry Entry">1</dword>
		<dword name="Hex View Buffer">100</dword>
		<dword name="Hex View Show ASCII">1</dword>
		<dword name="Hidden Menu Bar Can Be Accessed">0</dword>
		<dword name="Hide Auto Reconnect Dialog">0</dword>
		<dword name="Hide Dot Files">1</dword>
		<dword name="Hide Dot Session Files">1</dword>
		<dword name="Hide Hidden Files">0</dword>
		<dword name="Hide Mouse Pointer On Keypress">1</dword>
		<dword name="Hide Session ANSI Color Page">1</dword>
		<dword name="Horizontal Scrollbar">1</dword>
		<dword name="Inactive Window Alpha Transparency">255</dword>
		<dword name="Inactivity Color">65535</dword>
		<dword name="Inactivity Timeout Value">5000</dword>
		<string name="Initial Local Folder V2"/>
		<dword name="Initial Send Commands To Value">0</dword>
		<dword name="Insert Pasted Text Between Quotation Characters">1</dword>
		<dword name="Installed FTP Sites">0</dword>
		<dword name="Is Expanded">1</dword>
		<string name="KDC">1601:01:01:00:00:00:000</string>
		<dword name="Keep Alive">0</dword>
		<dword name="Keep Shared Memory Agent Open">1</dword>
		<dword name="Kermit Upload ASCII">0</dword>
		<string name="Last Local Directory V2"/>
		<string name="Last Script Run V2"/>
		<dword name="Launch New Windows in a Separate Process">0</dword>
		<dword name="Linux CRT Update Prompt Date">1601816319</dword>
		<string name="Linux Connect Dialog Font"/>
		<binary name="Linux Connect Dialog Size">2c 00 00 00 00 00 00 00 01 00 00 00 00 00 00 00 00 00 00 00 fc ff ff ff fc ff ff ff 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00</binary>
		<binary name="Linux Hex View Font">f3 ff ff ff 00 00 00 00 00 00 00 00 00 00 00 00 90 01 00 00 00 00 00 01 00 00 00 01 44 00 00 00 65 00 00 00 6a 00 00 00 61 00 00 00 56 00 00 00 75 00 00 00 20 00 00 00 53 00 00 00 61 00 00 00 6e 00 00 00 73 00 00 00 20 00 00 00 4d 00 00 00 6f 00 00 00 6e 00 00 00 6f 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 61 00 00 00</binary>
		<string name="Linux Local ExplorerFrame State">1,-1,200</string>
		<binary name="Linux LocalFrame Window Size">2c 00 00 00 00 00 00 00 01 00 00 00 00 00 00 00 00 00 00 00 fc ff ff ff fc ff ff ff 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00</binary>
		<binary name="Linux MainFrame Window Size">2c 00 00 00 00 00 00 00 01 00 00 00 00 00 00 00 00 00 00 00 fc ff ff ff fc ff ff ff 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00</binary>
		<dword name="Linux Printer Baud Rate">38400</dword>
		<dword name="Linux Printer CTS Flow">0</dword>
		<dword name="Linux Printer DSR Flow">0</dword>
		<dword name="Linux Printer DTR Flow Control">1</dword>
		<dword name="Linux Printer Data Bits">8</dword>
		<binary name="Linux Printer Font v2">f3 ff ff ff 00 00 00 00 00 00 00 00 00 00 00 00 90 01 00 00 00 00 00 00 03 02 01 31 43 00 00 00 6f 00 00 00 75 00 00 00 72 00 00 00 69 00 00 00 65 00 00 00 72 00 00 00 20 00 00 00 4e 00 00 00 65 00 00 00 77 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 64 00 00 00</binary>
		<string name="Linux Printer Name"/>
		<string name="Linux Printer Name Of Pipe"/>
		<dword name="Linux Printer Parity">0</dword>
		<string name="Linux Printer Port"/>
		<dword name="Linux Printer RTS Flow Control">1</dword>
		<dword name="Linux Printer Stop Bits">0</dword>
		<dword name="Linux Printer XON Flow">1</dword>
		<string name="Linux Remote ExplorerFrame State">1,1000,200</string>
		<binary name="Linux RemoteFrame Window Size">2c 00 00 00 00 00 00 00 01 00 00 00 00 00 00 00 00 00 00 00 fc ff ff ff fc ff ff ff 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00</binary>
		<dword name="Linux Restrict Connections To TFTP Server">0</dword>
		<string name="Linux Script Directory"/>
		<string name="Linux Synchronize ExplorerFrame State">1,0,-1</string>
		<binary name="Linux Synchronize Window Placement">2c 00 00 00 00 00 00 00 01 00 00 00 00 00 00 00 00 00 00 00 fc ff ff ff fc ff ff ff 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00</binary>
		<dword name="Linux TFTP Allow Overwrite">0</dword>
		<dword name="Linux TFTP Resend Timeout">1</dword>
		<string name="Linux TFTP Server Download Directory"/>
		<dword name="Linux TFTP Server Start Option">2</dword>
		<string name="Linux TFTP Server Upload Directory"/>
		<string name="Linux Tftp Log File V2"/>
		<dword name="Linux Tftp Server Port">69</dword>
		<binary name="Linux Transfer Window Placement">2c 00 00 00 00 00 00 00 01 00 00 00 00 00 00 00 00 00 00 00 fc ff ff ff fc ff ff ff 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00</binary>
		<binary name="Linux Window Placement">2c 00 00 00 00 00 00 00 01 00 00 00 00 00 00 00 00 00 00 00 fc ff ff ff fc ff ff ff 28 00 00 00 38 00 00 00 2c 05 00 00 be 02 00 00</binary>
		<dword name="List View Number Style">0</dword>
		<dword name="List View Sort Style">2</dword>
		<string name="Local ListView State">1,1,1,0,0</string>
		<dword name="Local Window on Bottom or Right">0</dword>
		<string name="Locale"/>
		<dword name="Locked Color">11184810</dword>
		<dword name="Log Buffer Size">500</dword>
		<string name="Log File V2">${VDS_USER_DATA_PATH}/log.txt</string>
		<dword name="Log Topic Error Text Color">4294967295</dword>
		<dword name="Log Topic Information Text Color">4294967295</dword>
		<dword name="Log Topic Request Text Color">4294967295</dword>
		<dword name="Log Topic Response Text Color">4294967295</dword>
		<dword name="Log Topic Warning Text Color">4294967295</dword>
		<dword name="Log Uses Generic Write Flag">0</dword>
		<dword name="MRU Count">4</dword>
		<binary name="Manage Bookmarks Dialog Size">2c 00 00 00 00 00 00 00 01 00 00 00 00 00 00 00 00 00 00 00 fc ff ff ff fc ff ff ff 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00</binary>
		<dword name="Max Button Bar Name Width">125</dword>
		<dword name="Max Chat Window History">200</dword>
		<dword name="Max Columns">256</dword>
		<dword name="Max Scrollback Buffer Size">128000</dword>
		<dword name="Maximum Parallel Transfers">1</dword>
		<string name="Menu Toolbar File V2"/>
		<dword name="Minimize To Tray">0</dword>
		<dword name="Move Files To Recycle Bin">1</dword>
		<dword name="Never Show Seconds">0</dword>
		<dword name="Never Use Cached File for Remote Editing">0</dword>
		<dword name="New Input Color">16711680</dword>
		<dword name="New Session Uses Wizard">1</dword>
		<dword name="OEE">1</dword>
		<dword name="Offer Help">1</dword>
		<dword name="Open Sessions In Tab">1</dword>
		<dword name="Open URL with CTRL+click">1</dword>
		<string name="Open With Program Title">Notepad</string>
		<dword name="Open With Transfer Type">1</dword>
		<dword name="Overwrite Action">0</dword>
		<binary name="Page Margins">00 00 00 00 00 00 e0 3f 00 00 00 00 00 00 e0 3f 00 00 00 00 00 00 e0 3f 00 00 00 00 00 00 e0 3f</binary>
		<dword name="Page Orientation">1</dword>
		<dword name="Paper Size">1</dword>
		<dword name="Paper Source">7</dword>
		<dword name="Paste On Middle Button">0</dword>
		<dword name="Paste On Right Button">1</dword>
		<dword name="Printer Color">1</dword>
		<dword name="Printer Duplex">1</dword>
		<dword name="Printer Media Type">1</dword>
		<dword name="Printer Quality">4294967293</dword>
		<dword name="Prompt On Multi-Line Paste">1</dword>
		<dword name="Prompt to Resume on Connect">1</dword>
		<string name="Quotation Characters">&quot;</string>
		<dword name="Receive Buffer Size">65535</dword>
		<dword name="Refresh After All Transfers Complete">0</dword>
		<dword name="Refresh Poll Minimum">60</dword>
		<dword name="Refresh Poll Time Multiplier">5</dword>
		<string name="Remembered Sessions List V2"/>
		<dword name="Remote Edit Upload Action">0</dword>
		<dword name="Remote Edit Upload On Modify V2">1</dword>
		<string name="Remote ListView State">1,1,1,0,0</string>
		<dword name="Resolve Symbolic Links">0</dword>
		<dword name="Restore Session Directory">0</dword>
		<dword name="Retain File Version Number">0</dword>
		<dword name="Retry Attempts">20</dword>
		<dword name="Retry Delay">10</dword>
		<dword name="Reuse Disconnected Tabs">1</dword>
		<dword name="Right Click Popup Shown">1</dword>
		<dword name="SCRT Firewall Migrated">0</dword>
		<dword name="SFXCL Backslashes Always Path Separators">0</dword>
		<dword name="Save Connect Dialog Folder State">1</dword>
		<dword name="Save New Connect Entries">1</dword>
		<dword name="Save Session Window Attributes">0</dword>
		<dword name="Save Session Window State">0</dword>
		<dword name="Script Color">8388736</dword>
		<dword name="Script MRU Count">10</dword>
		<string name="SecureCRT Tab State V2">1,1,0;913</string>
		<dword name="SecureCRT Toolbar Theme">10</dword>
		<dword name="SecureCRT XML File Fixed">0</dword>
		<array name="SecureFX Bookmarks"/>
		<dword name="SecureFX Default Action For Files">1</dword>
		<string name="SecureFX Local Tab State">1,-1,200</string>
		<string name="SecureFX Remote Tab State">1,1000,200</string>
		<dword name="SecureFX Single Instance">1</dword>
		<string name="SecureFX Tab State V2">1,1,0;0</string>
		<dword name="SecureFX Toolbar Theme">10</dword>
		<dword name="SecureFX XML File Fixed">0</dword>
		<dword name="Send Buffer Size">65535</dword>
		<dword name="Send Characters Immediately">0</dword>
		<dword name="Serialize Connections">0</dword>
		<dword name="Session Filter Delay">250</dword>
		<string name="Session Manager Window State V2">2,0,0,0,0,100,589,0,0,0,0,1</string>
		<string name="Session Options Tree Selected">Session+</string>
		<string name="Session Options Tree State">1010000101010010</string>
		<dword name="Set Title Bar">0</dword>
		<dword name="Set locale environment variables for local shell">1</dword>
		<dword name="Show Chat Window">0</dword>
		<dword name="Show Command Manager">1</dword>
		<dword name="Show Command Window Title Bar">1</dword>
		<dword name="Show Confirm Disconnect Dialog">1</dword>
		<dword name="Show Connect Bar">1</dword>
		<dword name="Show Connect Dialog">1</dword>
		<dword name="Show Connection Closed Dialog">0</dword>
		<dword name="Show Cursor Position Indicator">1</dword>
		<dword name="Show Default Key Mappings">0</dword>
		<dword name="Show Details on Connect Dialog">1</dword>
		<dword name="Show Elapsed Time">0</dword>
		<dword name="Show Inactivity Status">0</dword>
		<dword name="Show Menu Bar">1</dword>
		<dword name="Show Multiple Tabs Only">0</dword>
		<dword name="Show Prompt On Paste As Quotation">1</dword>
		<dword name="Show Quick Connect Dialog">0</dword>
		<dword name="Show Script Indicator">0</dword>
		<dword name="Show Session Manager">1</dword>
		<dword name="Show Session Tabs">1</dword>
		<dword name="Show Sessions Dialog">1</dword>
		<dword name="Show Status Bar">1</dword>
		<dword name="Show Status Indicators">1</dword>
		<dword name="Show Terminal Only Sessions">1</dword>
		<dword name="Show Toolbar">1</dword>
		<dword name="Show Transfer Only Sessions">1</dword>
		<dword name="Show Transfer Queue Window">1</dword>
		<dword name="Show Window Size Indicator">1</dword>
		<dword name="Show Window Toolbar">1</dword>
		<dword name="Single Instance">0</dword>
		<dword name="Sort Alphabetical">1</dword>
		<dword name="Status Indicator Style">0</dword>
		<dword name="Status Indicator Width">2</dword>
		<dword name="Suppress Different Geometry Dialog">0</dword>
		<dword name="Suppress Disconnect All Prompt">0</dword>
		<dword name="Suppress Disconnect Selected Prompt">0</dword>
		<dword name="Suppress Edit Multiple Sessions Dialog">0</dword>
		<dword name="Suppress Execute Escape Sequence Exit Codes">0</dword>
		<dword name="Suppress Mapped Key Is Default Warning">0</dword>
		<dword name="Suppress Multiple Sessions Warning">0</dword>
		<dword name="Suppress Read Only Session Options Warning">0</dword>
		<dword name="Suspend Queued Transfers">0</dword>
		<dword name="Swap Enter and Ctrl+Enter in Command Window">0</dword>
		<string name="SyncDBDialog ListView State">1,1,1,0,0</string>
		<string name="Synchronize ListView State">1,1,1,0,0</string>
		<dword name="Tab Location">0</dword>
		<dword name="Tab Width">40</dword>
		<dword name="Tab Width Is Minimum">1</dword>
		<string name="Terminal Log File V2"/>
		<dword name="Timeout">180</dword>
		<string name="Title Bar Text"/>
		<string name="Transfer Complete Sound File V2"/>
		<dword name="Transfer Queue Height">150</dword>
		<string name="Transfer Queue State">1,1,1,0,0</string>
		<dword name="Transfer Type">3</dword>
		<dword name="Transfer View Number Style">2</dword>
		<dword name="Treat CJK Ambiguous Chars As Wide">0</dword>
		<dword name="Triple-Click Selection Includes Newline">0</dword>
		<dword name="Update Dependent Session Firewalls">1</dword>
		<dword name="Use Auto Session">0</dword>
		<dword name="Use Copy To Preserve Permissions">0</dword>
		<dword name="Use Default Session Color On Startup">0</dword>
		<dword name="Use Default Transfer Type For All Files">0</dword>
		<dword name="Use Dockable Session Manager">1</dword>
		<dword name="Use Keychain">0</dword>
		<dword name="Use Old Icons">0</dword>
		<dword name="Use Previous QuickSync Settings">0</dword>
		<dword name="Use Printer Port">0</dword>
		<dword name="Use Raw Mode">0</dword>
		<dword name="Use Remembered Sessions">0</dword>
		<dword name="Use System Caret">0</dword>
		<dword name="User Button Bar">0</dword>
		<dword name="Verify Retrieve File Status">1</dword>
		<string name="Version">7B2F2717-85C8-4729-8394-3B7697039CEB</string>
		<dword name="Vertical Scrollbar">0</dword>
		<dword name="View Left Margin">3</dword>
		<dword name="X Position">0</dword>
		<dword name="Y Position">0</dword>
		<dword name="ZModem Upload ASCII">0</dword>
		<dword name="Zoom on Ctrl Scrollwheel">1</dword>
		<dword name="Zoom on Keyboard Shortcut">1</dword>
	</key>
	<key name="Sessions">
		<key name="Default">
			<dword name="ANSI Color">1</dword>
			<binary name="ANSI Color RGB">00 00 00 00 a0 00 00 00 00 a0 00 00 a0 a0 00 00 00 00 a0 00 a0 00 a0 00 00 a0 a0 00 c0 c0 c0 00 80 80 80 00 ff 00 00 00 00 ff 00 00 ff ff 00 00 00 00 ff 00 ff 00 ff 00 00 ff ff 00 ff ff ff 00</binary>
			<dword name="Allow Connection Sharing">0</dword>
			<dword name="Alternate Screen Output Added To Scrollback">0</dword>
			<dword name="AlwaysOnTop">0</dword>
			<string name="Answerback"/>
			<dword name="Audio Bell">1</dword>
			<dword name="Auth Prompts in Window">0</dword>
			<dword name="Auto Reconnect">2</dword>
			<dword name="Background">16777215</dword>
			<dword name="Basepoint Trace Level">1</dword>
			<dword name="Blinking Cursor">1</dword>
			<dword name="Bold">0</dword>
			<dword name="Buffer Pass Through Printing">0</dword>
			<dword name="CUA Copy Paste">0</dword>
			<dword name="Certificate Username Location">0</dword>
			<dword name="Character Send Delay">0</dword>
			<string name="Cipher List">aes256-ctr,aes192-ctr,aes128-ctr,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-cbc,aes192-cbc,aes128-cbc,chacha20-poly1305@openssh.com,twofish-cbc,blowfish-cbc,3des-cbc,arcfour</string>
			<dword name="Clear On Disconnect">0</dword>
			<dword name="Close On Disconnect">0</dword>
			<string name="Color Scheme">Traditional</string>
			<dword name="Color Scheme Overrides Ansi Color">1</dword>
			<dword name="Cols">80</dword>
			<dword name="Compression Level">5</dword>
			<string name="Compression List">none</string>
			<dword name="Copy Translates ANSI Line Drawing Characters">0</dword>
			<dword name="Copy to clipboard as RTF and plain text">0</dword>
			<dword name="Cursor Color">0</dword>
			<dword name="Cursor Key Mode">0</dword>
			<dword name="Cursor Style">0</dword>
			<string name="Custom Log Message Connect"/>
			<string name="Custom Log Message Disconnect"/>
			<string name="Custom Log Message Each Line"/>
			<string name="Default Download Directory V2"/>
			<string name="Default SCS">B</string>
			<array name="Description"/>
			<dword name="Disable Directory Tree Detection">2</dword>
			<dword name="Disable Initial SFTP Extensions">0</dword>
			<dword name="Disable MLSX">0</dword>
			<dword name="Disable Pass Through Printing">0</dword>
			<dword name="Disable Remote File System Watches">0</dword>
			<dword name="Disable Resize">2</dword>
			<dword name="Disable STAT For SFTP Directory Validation">0</dword>
			<dword name="Disable ZModem">0</dword>
			<dword name="Display Tab">0</dword>
			<string name="Display Tab String"/>
			<string name="Download Directory V2">${VDS_USER_DATA_PATH}</string>
			<dword name="Draw Lines Graphically">1</dword>
			<dword name="Dumb Terminal Ignores CRLF">0</dword>
			<dword name="Eject Page Interval">0</dword>
			<dword name="Emacs Mode">1</dword>
			<dword name="Emacs Mode 8 Bit">0</dword>
			<string name="Emulation">Xterm</string>
			<dword name="Enable 80-132 Column Switching">1</dword>
			<dword name="Enable Agent Forwarding">2</dword>
			<dword name="Enable Alternate Screen Switching">1</dword>
			<dword name="Enable Cursor Key Mode Switching">1</dword>
			<dword name="Enable Keypad Mode Switching">1</dword>
			<dword name="Enable Line Wrap Mode Switching">1</dword>
			<dword name="Enable TN3270 Base Colors">0</dword>
			<dword name="Enable Xterm-256color">1</dword>
			<dword name="Enable Xterm-Truecolor">0</dword>
			<dword name="Enforce X11 Authentication">1</dword>
			<string name="File Creation Mask"/>
			<dword name="File System Case">0</dword>
			<dword name="Filenames Always Use UTF8">0</dword>
			<string name="Firewall Name">None</string>
			<dword name="Force 1024 for ZModem">0</dword>
			<dword name="Force Black On White">0</dword>
			<dword name="Force Close On Exit">0</dword>
			<dword name="Foreground">0</dword>
			<dword name="Forward X11">0</dword>
			<dword name="GEX Minimum Size">2048</dword>
			<dword name="GEX Preferred Size">2048</dword>
			<string name="GSSAPI Delegation">full</string>
			<string name="GSSAPI Method">auto-detect</string>
			<string name="GSSAPI SPN">host@$(HOST)</string>
			<dword name="Generate Unique Log File Name When File In Use">1</dword>
			<dword name="Hard Reset on ESC c">0</dword>
			<dword name="Highlight Bold">0</dword>
			<dword name="Highlight Color">0</dword>
			<dword name="Highlight Reverse Video">1</dword>
			<dword name="Horizontal Scrollbar">2</dword>
			<string name="Host Key Algorithms">ecdsa-sha2-nistp256,ecdsa-sha2-nistp384,ecdsa-sha2-nistp521,ssh-ed25519,null,ssh-rsa,ssh-dss</string>
			<string name="Hostname"/>
			<string name="Ident String"/>
			<string name="Identity Filename V2"/>
			<dword name="Idle Check">0</dword>
			<dword name="Idle NO-OP Check">0</dword>
			<dword name="Idle NO-OP Timeout">60</dword>
			<string name="Idle String"/>
			<dword name="Idle Timeout">300</dword>
			<dword name="Ignore 80-132 Column Switching When Maximized or Full Screen">0</dword>
			<dword name="Ignore Shift Out Sequence">0</dword>
			<dword name="Ignore Window Title Change Requests">0</dword>
			<string name="Initial Directory"/>
			<dword name="Is Full Screen">0</dword>
			<dword name="Is Session">1</dword>
			<dword name="Jump Scroll">1</dword>
			<string name="Key Exchange Algorithms">curve25519-sha256,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group18-sha512,diffie-hellman-group16-sha512,diffie-hellman-group14-sha256,diffie-hellman-group-exchange-sha256,diffie-hellman-group-exchange-sha1,diffie-hellman-group14-sha1</string>
			<dword name="Keyboard Char Send Delay">0</dword>
			<string name="Keyboard Interactive Prompt">assword</string>
			<dword name="Keyboard Interactive Prompt Case Sensitive">0</dword>
			<string name="Keymap Filename V2"/>
			<string name="Keymap Name">Xterm</string>
			<array name="Keymap v4"/>
			<dword name="Keypad Mode">0</dword>
			<string name="Keyword Set">&lt;None&gt;</string>
			<string name="Last Directory"/>
			<dword name="Line Send Delay">5</dword>
			<dword name="Line Wrap">1</dword>
			<string name="Linux Initial Local Directory V2"/>
			<binary name="Linux Narrow Font v2">f0 ff ff ff 00 00 00 00 00 00 00 00 00 00 00 00 90 01 00 00 00 00 00 01 00 00 00 01 44 00 00 00 65 00 00 00 6a 00 00 00 61 00 00 00 56 00 00 00 75 00 00 00 20 00 00 00 53 00 00 00 61 00 00 00 6e 00 00 00 73 00 00 00 20 00 00 00 4d 00 00 00 6f 00 00 00 6e 00 00 00 6f 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 78 00 00 00</binary>
			<binary name="Linux Normal Font v2">ee ff ff ff 0c 00 00 00 00 00 00 00 00 00 00 00 f4 01 00 00 00 00 00 00 00 00 00 01 46 00 00 00 61 00 00 00 6e 00 00 00 74 00 00 00 61 00 00 00 73 00 00 00 71 00 00 00 75 00 00 00 65 00 00 00 20 00 00 00 53 00 00 00 61 00 00 00 6e 00 00 00 73 00 00 00 20 00 00 00 4d 00 00 00 6f 00 00 00 6e 00 00 00 6f 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 8c 00 00 00</binary>
			<string name="Linux PGP Download Command V2"/>
			<string name="Linux PGP Upload Command V2"/>
			<dword name="Linux Printer Baud Rate">38400</dword>
			<dword name="Linux Printer CTS Flow">0</dword>
			<dword name="Linux Printer DSR Flow">0</dword>
			<dword name="Linux Printer DTR Flow Control">1</dword>
			<dword name="Linux Printer Data Bits">8</dword>
			<binary name="Linux Printer Font v2">f3 ff ff ff 00 00 00 00 00 00 00 00 00 00 00 00 90 01 00 00 00 00 00 00 03 02 01 31 43 00 00 00 6f 00 00 00 75 00 00 00 72 00 00 00 69 00 00 00 65 00 00 00 72 00 00 00 20 00 00 00 4e 00 00 00 65 00 00 00 77 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 64 00 00 00</binary>
			<string name="Linux Printer Name"/>
			<string name="Linux Printer Name Of Pipe"/>
			<dword name="Linux Printer Parity">0</dword>
			<string name="Linux Printer Port"/>
			<dword name="Linux Printer RTS Flow Control">1</dword>
			<dword name="Linux Printer Stop Bits">0</dword>
			<dword name="Linux Printer XON Flow">1</dword>
			<binary name="Linux RemoteFrame Window Placement">2c 00 00 00 00 00 00 00 01 00 00 00 00 00 00 00 00 00 00 00 fc ff ff ff fc ff ff ff 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00</binary>
			<string name="Linux Shell Command"/>
			<dword name="Linux Use Narrow Font">0</dword>
			<dword name="Linux Use Shell Command">0</dword>
			<binary name="Linux Window Placement">2c 00 00 00 00 00 00 00 01 00 00 00 fc ff ff ff fc ff ff ff fc ff ff ff fc ff ff ff 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00</binary>
			<dword name="Linux X Position">0</dword>
			<dword name="Linux X Position Relative Left">1</dword>
			<dword name="Linux Y Position">0</dword>
			<dword name="Linux Y Position Relative Top">1</dword>
			<dword name="Local Echo">0</dword>
			<string name="Local Shell Command Pre-connect V2">02:69ed0d0044bfb68ab8e3b851eeb862e99806502e56eb5d9295733b1fbe04e6934d9d276df8d8c51baad03e977dd0ecae</string>
			<string name="Log Filename V2"/>
			<dword name="Log Mode">0</dword>
			<dword name="Log Multiple Sessions">0</dword>
			<dword name="Log Only Custom">0</dword>
			<dword name="Log Prompt">0</dword>
			<dword name="Log Screen">0</dword>
			<string name="Login Script V3"/>
			<string name="MAC List">hmac-sha2-512,hmac-sha2-512-etm@openssh.com,hmac-sha2-256,hmac-sha2-256-etm@openssh.com,hmac-sha1,hmac-sha1-etm@openssh.com,hmac-sha1-96,hmac-md5,hmac-md5-96,umac-64@openssh.com,umac-64-etm@openssh.com,umac-128@openssh.com,umac-128-etm@openssh.com</string>
			<dword name="Map Backspace">0</dword>
			<dword name="Map Delete">0</dword>
			<dword name="Max Packet Size">4096</dword>
			<dword name="Max Transfer Buffers">4</dword>
			<dword name="Minimize Drawing While Jump Scrolling">1</dword>
			<dword name="Monitor Allow Remote Input">0</dword>
			<string name="Monitor Listen Address">0.0.0.0:22</string>
			<string name="Monitor Password V2"/>
			<string name="Monitor Username"/>
			<dword name="New Log File At Midnight">0</dword>
			<dword name="Newline Mode">0</dword>
			<dword name="Operating System">0</dword>
			<string name="Output Transformer Name">UTF-8</string>
			<string name="PKCS11 Provider Dll"/>
			<dword name="Packet Strings Always Use UTF8">0</dword>
			<dword name="Pad Password Packets">1</dword>
			<binary name="Page Margins">00 00 00 00 00 00 e0 3f 00 00 00 00 00 00 e0 3f 00 00 00 00 00 00 e0 3f 00 00 00 00 00 00 e0 3f</binary>
			<dword name="Page Orientation">1</dword>
			<dword name="Pair With Local Window">1</dword>
			<dword name="Paper Size">1</dword>
			<dword name="Paper Source">7</dword>
			<string name="Password V2"/>
			<dword name="Port Forward Buffer Count">0</dword>
			<dword name="Port Forward Buffer Size">0</dword>
			<string name="Port Forward Filter">allow,127.0.0.0/255.0.0.0,0 deny,0.0.0.0/0.0.0.0,0</string>
			<dword name="Port Forward Max Packet">0</dword>
			<dword name="Port Forward Receive Window">0</dword>
			<array name="Port Forward Table V2"/>
			<dword name="Position Cursor on Left Click">0</dword>
			<dword name="Preferred SFTP Version">0</dword>
			<dword name="Preserve Alt-Gr">0</dword>
			<dword name="Printer Color">1</dword>
			<dword name="Printer Duplex">1</dword>
			<dword name="Printer Media Type">1</dword>
			<dword name="Printer Quality">4294967293</dword>
			<string name="Protocol Name">SSH2</string>
			<string name="Public Key Certificate Issuer"/>
			<string name="Public Key Certificate Serial Number"/>
			<dword name="Public Key Certificate Store">0</dword>
			<string name="Public Key Certificate Username"/>
			<dword name="Public Key Type">0</dword>
			<dword name="Raw EOL Mode">0</dword>
			<dword name="Raw Log">0</dword>
			<string name="Remote ExplorerFrame State">1,-1,-1</string>
			<string name="Remote ListView State">1,1,1,0,0</string>
			<dword name="Request Shell">1</dword>
			<dword name="Request pty">1</dword>
			<dword name="Resize Mode">0</dword>
			<dword name="Resolve Symbolic Links">2</dword>
			<dword name="Restart Data Size">0</dword>
			<string name="Restart Datafile Path"/>
			<string name="Reverse Forward Filter">allow,127.0.0.1,0 deny,0.0.0.0/0.0.0.0,0</string>
			<array name="Reverse Forward Table V2"/>
			<dword name="Rows">24</dword>
			<dword name="SCO Line Wrap">0</dword>
			<string name="SCP Shell Password V2"/>
			<array name="SCP Shell Prompts">
				<string>&quot;? &quot;,0,&quot;\n&quot;</string>
			</array>
			<dword name="SGR Zero Resets ANSI Color">1</dword>
			<string name="SSH2 Authentications V2">publickey,keyboard-interactive,password,gssapi</string>
			<dword name="SSH2 Common Config Version">6</dword>
			<string name="Script Arguments"/>
			<string name="Script Filename V2"/>
			<dword name="Scroll To Bottom On Keypress">1</dword>
			<dword name="Scroll To Bottom On Output">1</dword>
			<dword name="Scroll To Clear">1</dword>
			<dword name="Scrollback">500</dword>
			<array name="SecureFX Bookmarks"/>
			<array name="SecureFX Post Login User Commands"/>
			<string name="SecureFX Remote Tab State">1,-1,-1</string>
			<dword name="SecureFX Trace Level V2">2</dword>
			<dword name="SecureFX Use Control Address For Data Connections">1</dword>
			<dword name="Send Initial Carriage Return">1</dword>
			<dword name="Send Scroll Wheel Events To Remote">0</dword>
			<dword name="Send Zmodem Init When Upload Starts">0</dword>
			<dword name="Session Password Saved">0</dword>
			<dword name="Sftp Maximum Packet">0</dword>
			<dword name="Sftp Parallel Read Count">0</dword>
			<dword name="Sftp Receive Window">0</dword>
			<string name="Sftp Tab Local Directory V2">${VDS_USER_DATA_PATH}</string>
			<string name="Sftp Tab Remote Directory"/>
			<dword name="Shift Forces Local Mouse Operations">1</dword>
			<dword name="Show Chat Window">2</dword>
			<dword name="Show Wyse Label Line">0</dword>
			<dword name="Start Log Upon Connect">0</dword>
			<dword name="Strip 8th Bit">0</dword>
			<dword name="Synchronize File Browsing">0</dword>
			<string name="Terminal Type"/>
			<string name="Time Zone"/>
			<string name="Title Bar"/>
			<dword name="Trace Level">0</dword>
			<string name="Transfer Protocol Name">SFTP</string>
			<dword name="Translate Incoming CR To CRLF">0</dword>
			<dword name="Transport Receive Buffer Count">0</dword>
			<dword name="Transport Receive Buffer Size">0</dword>
			<dword name="Transport Write Buffer Count">0</dword>
			<dword name="Transport Write Buffer Size">0</dword>
			<string name="Upload Directory V2">${VDS_USER_DATA_PATH}</string>
			<dword name="Use A Separate Transport For Every Connection">0</dword>
			<dword name="Use Alternate Keyboard">0</dword>
			<dword name="Use Answerback">0</dword>
			<dword name="Use Certificate As Raw Key">1</dword>
			<dword name="Use Cursor Color">0</dword>
			<dword name="Use Global ANSI Colors">1</dword>
			<dword name="Use Global Host Key Algorithms">1</dword>
			<dword name="Use Global Print Settings">1</dword>
			<dword name="Use Global Public Key">1</dword>
			<dword name="Use Login Script">0</dword>
			<dword name="Use Multiple SFTP Channels">0</dword>
			<dword name="Use PGP For All Transfers">0</dword>
			<dword name="Use Position">0</dword>
			<dword name="Use Printer Port">0</dword>
			<dword name="Use Raw Mode">0</dword>
			<dword name="Use STAT For SFTP Directory Validation">0</dword>
			<dword name="Use Script File">0</dword>
			<dword name="Use Symbolic Names For Non-Printable Characters">0</dword>
			<dword name="Use Terminal Type">0</dword>
			<dword name="Use Title Bar">0</dword>
			<dword name="Use Unicode Line Drawing">1</dword>
			<dword name="Use Username From Certificate">0</dword>
			<dword name="Use Word Delimiter Chars">0</dword>
			<dword name="User Button Bar">2</dword>
			<string name="User Button Bar Name">Default</string>
			<string name="User Font Map V2"/>
			<string name="User Line Drawing Map V2"/>
			<string name="Username"/>
			<dword name="Verify Retrieve File Status">2</dword>
			<dword name="Vertical Scrollbar">2</dword>
			<dword name="Visual Bell">0</dword>
			<dword name="Wait For Prompt">0</dword>
			<string name="Wait For Prompt Text"/>
			<dword name="Wait For Prompt Timeout">0</dword>
			<dword name="WaitForStrings Ignores Color">0</dword>
			<string name="Word Delimiter Chars"/>
			<string name="XAuthority File"/>
			<dword name="XModem Send Packet Size">0</dword>
			<string name="XServer Host">127.0.0.1</string>
			<dword name="XServer Port">6000</dword>
			<dword name="XServer Screen Number">0</dword>
			<dword name="ZModem Encodes DEL">1</dword>
			<dword name="ZModem Force All Caps Filenames to Lower Case on Upload">1</dword>
			<string name="ZModem Receive Command">rz\r</string>
			<dword name="ZModem Uses 32 Bit CRC">0</dword>
			<dword name="[SSH2] Port">22</dword>
		</key>
	</key>
	<key name="ButtonBarV5">
		<array name="Default"/>
	</key>
	<key name="SSH2">
		<string name="Identity Filename V2"/>
		<string name="SSH1 Identity Filename V2"/>
		<dword name="Show Port Forwarding Error Box">1</dword>
		<string name="Host Key Database Location V2">${VDS_USER_DATA_PATH}/.vandyke/SecureCRT/Config/KnownHosts/</string>
		<dword name="Public Key Type">0</dword>
		<dword name="Public Key Certificate Store">0</dword>
		<string name="PKCS11 Provider Dll"/>
		<string name="Public Key Certificate Serial Number"/>
		<string name="Public Key Certificate Issuer"/>
		<string name="Public Key Certificate Username"/>
		<dword name="Use Username From Certificate">0</dword>
		<dword name="Certificate Username Location">0</dword>
		<dword name="Use Certificate As Raw Key">1</dword>
		<dword name="Enable Agent Forwarding">0</dword>
		<dword name="Add Private Keys To Agent">1</dword>
		<dword name="Try All Agent Keys">1</dword>
		<dword name="Enable Deprecated Gssapi">1</dword>
		<dword name="Suppress FQDN Warning">0</dword>
		<dword name="Check Certificate Revocation Lists">0</dword>
		<dword name="Cache Session Password">0</dword>
		<string name="Monitor Hostkey Filename V2"/>
		<dword name="Automatically Accept Host Keys">0</dword>
	</key>
	<key name="FileTypes">
		<array name="Binary File">
			<string/>
			<string>0</string>
			<string/>
			<string>a|bmp|dll|exe|gif|icns|ico|mp4|o|p12|pfx|svg|tiff|zip</string>
			<string>1</string>
			<string>2</string>
			<string>1</string>
			<string/>
		</array>
		<array name="Text File">
			<string/>
			<string>0</string>
			<string/>
			<string>applescript|bat|c|cpp|css|docx|h|hpp|htm|html|ini|log|m|mm|pl|plist|pri|pro|pub|py|pyx|rtf|sh|strings|ts|txt|ui|vbs|xml|xsl</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>Makefile|README</string>
		</array>
	</key>
	<key name="License">
		<string name="Is Eval License">N</string>
		<string name="Company">www.boll.me</string>
		<string name="Serial Number">03-91-324785</string>
		<string name="Expiration"/>
		<string name="Name">xiaobo_l</string>
		<string name="Issue Date">02-12-2019</string>
		<string name="__Pid__">03,13</string>
		<string name="Version">8.7.3 (build 2279)</string>
		<string name="__Vid__">87</string>
		<string name="Key">AC33SN 4JHKFS 48KYUT MY8F24 AAKC1C HJYFXT 8P6S99 MRAUQ2</string>
	</key>
</VanDyke>

